<div ng-controller="problemsCtrl">
    <nav class="navbar navbar-inverse margin_fix border_radius_fix">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Brand</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown login_user">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Добро пожаловать,Иван<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Изменить пароль</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Выйти</a></li>
                        </ul>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="col-sm-12">
    <div class="col-sm-4 margin_top_20"><a class="btn btn-default" href="#/clientpage" role="button">Назад в меню</a></div>
    <div class="col-sm-8">
        <h2 class="text-left">Проблематика за період 04.08.2015</h2>
    </div>
    <div class="col-sm-6">
        <h4 class="text-center">Контрагент: К7</h4>
    </div>
    <div class="col-sm-6">
        <h4 class="text-center">Автор: Пупкін Микола</h4>
    </div>
    <button type="button" class="btn btn-warning col-sm-2 margin_left_15 margin_top_20" data-toggle="modal" data-target="#problemsModal">Додати</button>
    <div class="col-sm-6 col-sm-offset-3">
        <!--<p class="align_top">Продажі за період:</p>-->
        <div class="form-group">
            <label class="control-label"><i class="fa fa-calendar"></i> <i class="fa fa-arrows-h"></i> <i class="fa fa-calendar"></i> Смертність за період:</label><br>
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="З" bs-datepicker>
            </div>
            <div class="form-group col-sm-4">
                <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="По" bs-datepicker>
            </div>
            <button type="button" class="btn btn-success col-sm-3">Примінити</button>
        </div>
        <!--</form>-->
    </div>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <td>
                <a  ng-click="sortType = 'number'; sortReverse = !sortReverse">
                    Номер
                    <span ng-show="sortType == 'number' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                    <span ng-show="sortType == 'number' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                </a>
            </td>
            <td>
                <a  ng-click="sortType = 'title'; sortReverse = !sortReverse">
                    Тема
                    <span ng-show="sortType == 'title' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                    <span ng-show="sortType == 'title' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                </a>
            </td>
            <td>
                <a  ng-click="sortType = 'type'; sortReverse = !sortReverse">
                    Тип
                    <span ng-show="sortType == 'type' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                    <span ng-show="sortType == 'type' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                </a>
            </td>
            <td>
                <a  ng-click="sortType = 'description'; sortReverse = !sortReverse">
                    Опис
                    <span ng-show="sortType == 'description' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                    <span ng-show="sortType == 'description' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                </a>
            </td>
            <td>
                <a  ng-click="sortType = 'status'; sortReverse = !sortReverse">
                    Статус
                    <span ng-show="sortType == 'status' && !sortReverse" class="glyphicon glyphicon-menu-down"></span>
                    <span ng-show="sortType == 'status' && sortReverse" class="glyphicon glyphicon-menu-up"></span>
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="problem in problems | orderBy:sortType:sortReverse | filter:searchFish">
            <td>{{ problem.number }}</td>
            <td>{{ problem.title }}</td>
            <td>{{ problem.type }}</td>
            <td>{{ problem.description }}</td>
            <td>{{ problem.status}}</td>
        </tr>
        </tbody>
    </table>


    <button  type="button" class="btn btn-success btn-lg center-block">Зберегти</button>
</div>
<!-- Modal -->
<div class="modal fade " id="problemsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body ">
                <form class="form-horizontal" role="form" ng-submit="addRow()">
                    <div class="form-group col-md-5">
                        <label class="col-md-3 control-label">Номер</label>
                        <div class="col-md-9">
                            <p ng-model="number" />Номер</p>
                        </div>
                    </div>
                    <div class="form-group col-md-7">
                        <label class="col-md-2 control-label">Тема</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" name="Тема"
                                   ng-model="title" />
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-1 control-label">Тип</label>
                        <div class="col-md-11">
                            <!--<input type="text" class="form-control" name="type"-->
                            <!--ng-model="type" />-->
                            <select class="form-control" ng-model="type">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label style="padding-left:20px" class=" control-label">Опис</label>
                        <div class="col-md-12">
                            <textarea class="col-md-12" ng-model="description" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-md-12" style="padding-left:110px">
                            <input type="submit" value="Зберегти" class="btn btn-primary"/>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрити</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
